section.hero.section
    img.bg-vape(src="images/bg.gif")
    #text_slide1.hero__about TIRED OF MODDING YOUR VAPE?
    #text_slide2.hero__about COTTON DOESN’T FEEL RIGHT?
    #text_slide3.hero__about MOMMY CALLS YOU A LITTLE BOY?
    img.ico_scroll_down(src="images/ico-scroll-down.svg")