section.hero.section
    img.vape(src="images/bg.gif")
    #text_slide1.text_slide TIRED OF MODDING YOUR VAPE?
    #text_slide2.text_slide COTTON DOESN’T FEEL RIGHT?
    #text_slide3.text_slide MOMMY CALLS YOU A LITTLE BOY?
    img.ico_scroll_down(src="images/ico-scroll-down.svg")