section.work.section
    .WHY-BUILDING-CUSTOM
        p WHY BUILDING<br>CUSTOM BIKE IS<br>BETTER
    .big-bikes-are-cool
        p Big bikes are cool. You’d be crazy to try and cut it any other way. But as in the world of knives, sometimes a scalpel is preferable to a machete. Just ask your local brain surgeon. And if there was ever a two-wheeled, internally combustible scalpel, this is it.
        p France’s Bad Winners has taken the decidedly meek and mild Suzuki GN125 and turned it into a scrambler that’s always sharp and ready for the job at hand. A cut above? Try a cut above and beyond.
        .rectangle-work
            button#go(type='button') TRADE-IN
            
    #modal_form
      // Сaмo oкнo
      span#modal_close CLOSE
      // Кнoпкa зaкрыть
      // Тут любoе сoдержимoе
      form(action='', method='post')
        h3 TRADE-IN
        input(type='text', name='your-name', value='', size='40' placeholder="What’s your vape model?")
        p YOU’LL GET
        .cyfral 0
        .bucks BUCKS
        //input#go(type='submit', value='ORDER')
        button#go_order(type='button') ORDER

    #overlay
    // Пoдлoжкa
    
    #modal_form_2
      // Сaмo oкнo
      span#modal_close_2 CLOSE
      // Кнoпкa зaкрыть
      // Тут любoе сoдержимoе
      form(action='', method='post')
        h3 !
        h4 THERE’S NO<br>TURNING BACK
        p WAIT. WE WILL COME FOR YOU

    #overlay_2
    // Пoдлoжкa

    .WHAT-WHERE-WHY
        p WHAT? WHERE? WHY?
            
