section.work.section
    .privilege
        p WHY BUILDING<br>CUSTOM BIKE IS<br>BETTER
    .privilege_description
        p Big bikes are cool. You’d be crazy to try and cut it any other way. But as in the world of knives, sometimes a scalpel is preferable to a machete. Just ask your local brain surgeon. And if there was ever a two-wheeled, internally combustible scalpel, this is it.
        p France’s Bad Winners has taken the decidedly meek and mild Suzuki GN125 and turned it into a scrambler that’s always sharp and ready for the job at hand. A cut above? Try a cut above and beyond.
        .rectangle_work
            button#go(type='button') TRADE-IN
            
    #modal_form
      span#modal_close CLOSE
      form(action='', method='post')
        h3 TRADE-IN
        input(type='text', name='your-name', value='', size='40' placeholder="What’s your vape model?")
        p YOU’LL GET
        .cyfral 0
        .bucks BUCKS
        button#go_order(type='button') ORDER

    #overlay
    
    #modal_form_2
      span#modal_close_2 CLOSE
      form(action='', method='post')
        p.admiration !
        p.descript THERE’S NO<br>TURNING BACK
        p.wait WAIT. WE WILL COME FOR YOU

    #overlay_2

    .questions
        p WHAT? WHERE? WHY?
            
