.hero {
    text-align: center;
    color: #fff;
    background: #030303;
    background-size: 100vh auto;
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
    }

    .bg-vape {
        min-height: 100vh;
        max-width: 100%;
        z-index: -999999;
    }

    &__about {
        font-size: 56px;
        font-family: HelveticaNeue;
        font-weight: bold;
        text-align: center;
        color: #fff;
        z-index: 2;
        position: absolute;
        top: 40%;
        width: 100%;

        @media (max-width: 900px) {
            font-size: 3rem;
        }
    }

    .ico_scroll_down {
        width: 24px;
        height: 32px;
        object-fit: contain;
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 50%;
        
        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: .5s;
        }
        
        @media (max-width: 440px) {
           display: none;
        }

    }
}