.work {
    text-align: center;
    //padding: 10%;
    background: #fff;
    position: relative;
    
    @media (max-width: 900px) {
        //        padding-top: 40px;
        //        padding-bottom: 40px;
    }
    
    .fp-tableCell {
        vertical-align: top;
    }

    .WHY-BUILDING-CUSTOM {
        //width: 385px;
        padding-top: 60px;
        padding-left: 122px;
        
        font-family: HelveticaNeue;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000;
//        position: absolute;
//        top: 10%;
//        left: 10%;
    }

    .big-bikes-are-cool {
        max-width: 100%;
        width: 540px;
        margin: 0 auto;
        //height: 176px;
        font-family: HelveticaNeue;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.2px;
        text-align: left;
        color: #000000;
        position: relative;
//        top: 30%;
//        left: 30%;
    
        
        .rectangle-work {
            padding-top: 40px;
        }

        .rectangle-work button {
            width: 160px;
            height: 50px;
            background-color: #ffce0d;
            border: none;
    //        position: absolute;
    //        bottom: 25%;
    //        left: 30%;

            &:hover {
                 background-color: #ffda45;
            }
            &:active {
                background-color: #ffbc0e;
                outline: 0 !important;
            }
        }
    }
    
    .WHAT-WHERE-WHY {
        position: absolute;
        transform: rotate(-90deg);
        font-size: 10px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 2px;
        text-align: left;
        color: #000;
        word-spacing: 16px;
        right: 0%;
        top: 20%;
    }
}